.App-logo{
  height: 40px; 
}

.Layout-booleanEditors {
  visibility:hidden;
}

.Cell-dayView {
  display: none!important;
}

.Toolbar-toolbar {
  position: sticky!important;
}

.css-1k4xd1i-MuiPaper-root-MuiAppBar-root {
  z-index: 1100!important;
}

.css-169ccso-MuiPaper-root-MuiAppBar-root {
  z-index: 1100!important;
}

.css-jrrpff {
  z-index: 1200!important;
}

.css-rfuiv6-MuiPaper-root-MuiDrawer-paper {
  z-index: 1000!important;
}

.css-nupfgw-MuiGrid-root.Layout-root {
  padding-top: 74px!important;
}

.bottomButton {
  display: flex!important;
  flex-flow: column!important;
  color: #fff!important;
}

.bottomIcon {
  margin-left: 10px;
}

.bottomNavbar {
  z-index: 99999;
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
